@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?v=4.0.3");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1; }
body {
  font-family: ".tk-adelle-sans", "Helvetica-neue", Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #444; }

p {
  line-height: 1.75em; }
  p a {
    text-decoration: none;
    color: #444;
    border-bottom: 1px solid #3A478D; }

h1 {
  font-weight: 700;
  line-height: normal; }

h3 {
  font-size: 2em;
  line-height: normal;
  font-weight: 700; }
  h3 a {
    text-decoration: none;
    color: #777; }

h4 {
  font-weight: 700;
  line-height: 1.75em; }
  h4 a {
    text-decoration: none;
    color: #444;
    border-bottom: 0px solid #3A478D; }

nav {
  width: 100%;
  font-size: .85em;
  font-weight: 700;
  margin-bottom: 3.3em;
  padding-top: 1em;
  letter-spacing: .2em;
  text-transform: uppercase; }
  nav li {
    display: inline;
    padding-right: 2em; }
  nav a {
    text-decoration: none;
    color: #444; }

.link-icon {
  font-size: 1.2em;
  padding-left: .5em;
  color: #888; }
  .link-icon a {
    text-decoration: none;
    color: #3A478D; }

.permalink-icon {
  font-size: inherit;
  padding-left: 1em;
  margin-top: -1em; }
  .permalink-icon a {
    text-decoration: none;
    color: #3A478D; }

.header {
  font-weight: 300;
  font-size: 1.2em; }
  .header a {
    text-decoration: none;
    color: #444; }

.page {
  font-weight: 300;
  font-size: 2em;
  color: #3A478D; }

.link-post-title {
  font-size: 1.45em;
  font-weight: 600; }
  .link-post-title a {
    color: #777;
    text-decoration: none;
    border-bottom: 1px solid #DEDEDE; }

.post-title {
  font-size: 2.1em;
  font-weight: 700; }
  .post-title a {
    color: #3A478D;
    text-decoration: none; }

.post-body {
  color: aqua;
  line-height: 2.1em; }
  .post-body a {
    color: #888;
    border-bottom: 1px solid #3A478D; }

.link-excerpt {
  line-height: 1.9em;
  padding-bottom: 2em; }
  .link-excerpt a {
    text-decoration: none;
    color: #888;
    border-bottom: 1px solid #888; }

.excerpt {
  line-height: 1.9em;
  padding-bottom: 2.5em; }
  .excerpt a {
    text-decoration: none;
    color: #444;
    border-bottom: 1px solid #DEDEDE; }

.date {
  font-size: .9em;
  font-weight: 600;
  color: #888;
  padding-top: .5em;
  letter-spacing: .02em; }

.recent-date {
  color: #888;
  font-size: 1em;
  float: right; }

blockquote {
  color: #888;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: 1.5em;
  border-left: 2px solid #3A478D; }

blockquote p {
  display: inline; }

.contain {
  max-width: 600px;
  margin: 50px auto;
  margin-top: 50px;
  background: #fff; }
  .contain img {
    max-width: 100%; }

.img {
  float: left;
  max-width: 80%; }

.blog-link {
  text-align: center;
  line-height: 0%; }
  .blog-link a {
    font-weight: 400;
    font-size: 1.1em;
    line-height: normal;
    color: #888;
    border-bottom: 1px solid #888; }

.file-link {
  text-align: center;
  line-height: 0%; }
  .file-link a {
    font-weight: 400;
    font-size: 1.1em;
    line-height: normal;
    color: #888;
    border-bottom: 1px solid #888; }

small {
  padding: 0 auto; }

.footer {
  padding-top: 3em;
  text-align: center; }

@media print {
  body {
    font-size: 12px; }

  header {
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center; }

  .downloads, .byline, footer {
    display: none; }

  header hgroup {
    border: 0;
    padding: 0;
    margin: 0; }

  header h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    border: 0; }

  header h2 {
    border: 0;
    margin: 0; }

  .downloads, footer {
    display: none; }

  section {
    border: 0; } }
