$Green: #E37352;
$DarkGreen: #444E4C;
$Blue: #188CFB;
$LinkColor: #E37352;
$DarkGrey: #2D293D;
$LightGrey: #E6E6E6;
$MiddleGrey: #B0B2B2;
$DarkRed: #241F22;
$LightRed: #DCDFDF;
$Background: #FFF;

// #E84E3C Red #E94642
// #1BBB7E Green
// #184BFB Blue
// #1A1918 DarkGrey and #080206

// Red Leftover #E94642