@import "reset";
@import "bits";
@import "type";
@import "player";
@import "compass/css3";

// Structure

html {
  height: 100%;
}



#contain {
  max-width: 450pt;
  margin: 50px auto;
  img {
	max-width: 100%
  }
}

#logo {
    text-align: center;
  width: 20pt;
margin-left: auto;
margin-right: auto;
padding-bottom: 1em;
  a{
  text-decoration: none;
  font-weight: 900;
  color: $Blue;
  letter-spacing: .3em;
  }
}


.img {
	float: left;
	max-width: 80%
}


.file-link {
  text-align: center;
	line-height: 0%;
	a {
	font-weight: 400;
	font-size: 1.1em;
	line-height: normal;
	color: $MiddleGrey;
	border-bottom: 1px solid $MiddleGrey;
	}
}





small {
	padding: 0 auto;
}



footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}





// For Printers

@media print {
  body { font-size: 12px; }
  header { border: 0;padding: 0; margin: 0; text-align: center; }
  .downloads, .byline, footer { display: none; }
  header hgroup { border: 0; padding: 0; margin: 0; }
  header h1 { margin: 0; padding: 0; font-size: 3em; border: 0; }
  header h2 { border: 0; margin: 0; }
  .downloads, footer { display: none; }
  section { border: 0; }
}



















