<footer>
  <div id="footer-contain">

<!-- Hide Archive and Feed
    <ul>
    <li><a href="/blog/archive">Archive</a></li>
    <li><a href="{{site.meta['Feed']}}">RSS <i class="icon-rss"></i></a></li>
    </ul>
-->

<!-- Social -->
    <ul>
    <li><a href="{{site.meta['Twitter']}}"><i class="icon-twitter"></i></a></li>
    <li><a href="{{site.meta['Facebook']}}"><i class="icon-facebook"></i></a></li>
    </ul>

<!-- Site Info -->
    <p>
    Open sourced in <a href="{{site.meta['GitHub']}}">Siteleaf</a><br>

<!-- Copyright
    &copy; {{ site.date | date: "%Y"  }} {{ site.meta['Copyright'] }}
    -->
    
    </p>

  </div>

</footer>

</html>
