<div class="contain">

{% if body %}
	<article>
    <h2 class="page">{{title}}</h2>
    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %d, %Y" }}</time>
    <p class="post-body">{{body}}<p>
	</article>
	{% endif %}
  
	{% for post in posts %}
  <article>
    <h3 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h3>]
    <div class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></div>
    <p class="post-body">{{post.body}}<p>
  </article>
  {% endfor %}

</div>